RewriteEngine on
RewriteBase /antispite
RewriteCond $1 !^(index\.php|doc|static|google|sitemap\.xml|resources|image|img|css|blog|js|channel|robots\.txt|favicon.ico)
RewriteRule ^(.*)$ index.php/$1 [L]

